.header {
    padding: 2%;
    background-color: rgb(128, 0, 107);
    font-size: 50px;
    text-align: center;
    width: 100%;
    color: white;
 }
 
 .footer {
   padding: 2%;
    background-color: red;
    font-size: 50px;
    text-align: center;
    width: 100%
 }
 
 .dashboard {
   padding: 3% 1%;
 }

h1 {
  text-align: center;
}

.display-board {
  width: 100%;
  background-color: rgba(0, 119, 128, 0.719);
  padding: 5%;
}

.number {
  color: red;
  font-size: 75px;
  text-align: center;
}

.mrgnbtm {
  margin-top: 20px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #34db55;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}